@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.h-nav {
  height: calc(100vh - 5rem);
  max-height: calc(100vh - 5rem);
}

.hNavTable {
  height: calc(100vh - 15rem);
}

.hNavInnerTable {
  height: calc(100vh - 21.5rem);
}

.hNavContentTable {
  height: calc(100vh - 27rem);
}

.h-table {
  height: calc(100vh - 7rem);
}

.wSidebar {
  width: calc(100vw - 22rem);
}

.wSidebarClosed {
  width: calc(100vw - 7rem);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.text-D1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
}

.text-D2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.text-H1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.text-H2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.text-H3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.text-H4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.text-H5 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.text-H6 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.text-S1 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.text-S2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.text-S3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.text-S4 {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}

.text-S5 {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}

.text-B1 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.text-B2 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.text-B3 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

.text-C1 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.text-C2 {
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
}

.text-Overline {
  font-size: 8px;
  line-height: 16px;
  font-weight: 400;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ebebeb;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows[type="number"] {
  -moz-appearance: textfield;
}
